.App {
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
}

img {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

hr {
  border: 0;
  height: 1px;
  background-color: #f0f0f0;
  margin: 40px auto;
  width: 50%;
}